.hello{
    text-align: center;
    font-weight: bold;
}

.first-commnet{
    margin-top: 100px;
}

.container-new {
    display: flex; /* フレックスボックスを適用 */
    justify-content: center; /* 水平方向の中央揃え */
    align-items: center; /* 垂直方向の中央揃え */
    /* height: 100vh;  */
    width: 100%; /* 画面幅いっぱいに */
}

.new-make {
    width: 70%;
    max-width: 800px;
    margin-top: 50px;
    padding: 40px;
    border: 2px solid;
    background-color: rgb(224, 178, 178);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

