/* 全体の背景色 */
body {
    background-color: #080606; /* ダーク背景 */
    color: #ffffff; /* 白い文字 */
}

.first-commnet{
    font-size: 20px;
}


.navbar-nav {
    display: flex;
    text-align: left;  /* 左揃え */
    list-style: none;  /* リストの点を消す */
    padding-left: 0;   /* インデントをなくす */
  }
  

.list-unstyled{
    display: block;
    align-items: center;
}

.list-unstyled button{
    width: 100%;
    margin-top: 30px;
}

.humber {
    cursor: pointer; /* クリック可能に */
    margin: 10px; /* 必要に応じて調整 */
    
}

.me-auto{
    background-color: rgb(229, 229, 239);
}

.head-menu{
    display: flex;
}

.footer{
    display: block;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    background-color: gray;
    width: 80%;
}

.footer-container{
    font-weight: bold;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
    
}









