/* 全体のスタイル */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.first-text{
    margin: 50px 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* ヘッダー */
header {
    /* background: linear-gradient(135deg, #007bff, #00c6ff); */
    color: white;
    text-align: center;
    padding: 20px;
}

/* メインコンテンツ */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* カテゴリー（各分野の見出し） */
.category {
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category h2{
    margin-bottom: 30px;
}

/* 言語のスタイル */
.language {
    padding: 10px;
    margin-top: 10px;
    background-color: #f0f0f0;
    border-left: 5px solid #007bff;
    border-radius: 5px;
}

/* フッター */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}
